doctype html
html
  include includes/header.pug
  body
    h1(class="text-8xl font-bold text-center") 
      p(class="text-sky-300  font-Blinking") Blog
        p(class="text-sky-600 font-Blinking") bloomexperiences
  nav
    div(class="flex justify-center items-center flex-col ") 
      div(class="categories  rounded-2xl mt-5 mb-2")  
        each category in categorys
          div(class="float-left p-0.1  ml-0.5 mr-0.5")
            a(href=category.url)
              img(src=category.image alt=category.name class="w-20 rounded-full border-solid border-2  hover:border-color-primary  border-color-segundary ")
              p(class="text-xs text-center")=category.name
  div(class="w-8/12 ml-auto mr-auto")
    div(class="types  mt-5 mb-2 w-full") 
      div(class="grid grid-cols-4 grid-rows-1")
        each type in types
          if type.selected=='1'
            a(href=type.url)
              div(class="float-left w-full bg-color-primary py-1")
                div(class="ml-auto mr-auto w-7 h-7 ")
                  img(src=type.image alt=type.name)
          else
            a(href=type.url)
              div(class="float-left w-full hover:bg-color-primary py-1")
                div(class="ml-auto mr-auto w-7 h-7 ")
                  img(src=type.image alt=type.name class="text-color-segundary") 
  block content
  include includes/footer.pug